<a href="https://colab.research.google.com/github/Yunus-Ozen-DS/Html-and-Css-practice_Simple_website/blob/main/PYTHON_NUMPY_PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## PYTHON

#Boolean

#List

In [ ]:
courses=['History','Math','Physics,','CompSci']

In [ ]:
courses[1]

'Math'

In [ ]:
courses.index('Math')

1

In [ ]:
courses[1:3]

['Math', 'Physics,']

In [ ]:
courses[-3:-2:1]

['Math']

In [ ]:
courses[-1:-3:-1]

['CompSci', 'Physics,']

In [ ]:
courses.append('Art')
courses

['History', 'Math', 'Physics,', 'CompSci', 'Art', 'Art']

In [ ]:
courses.insert(3,'Biology')
courses

['History', 'Math', 'Physics,', 'Biology', 'CompSci', 'Art', 'Art']

In [ ]:
courses_2=['Arkology','Documentary']

In [ ]:
courses.insert(0,courses_2)
courses

[['Arkology', 'Documentary'],
 ['Arkology', 'Documentary'],
 ['Arkology', 'Documentary'],
 'History',
 'Math',
 'Physics,',
 'Biology',
 'CompSci',
 'Art',
 'Art']

In [ ]:
del courses[1:3]
courses

[['Arkology', 'Documentary'], 'Physics,', 'Biology', 'CompSci', 'Art', 'Art']

In [ ]:
courses_3=['History', 'Math', 'Physics,', 'CompSci', 'Art', 'Art']
courses_4=['Arkology','Documentary']

In [ ]:
courses_3.extend(courses_4)
courses_3

['History',
 'Math',
 'Physics,',
 'CompSci',
 'Art',
 'Art',
 'Arkology',
 'Documentary']

In [ ]:
courses_3.remove('Art')

In [ ]:
courses_3

['History', 'Math', 'Physics,', 'CompSci', 'Arkology', 'Documentary']

In [ ]:
courses_3.pop()

'Documentary'

In [ ]:
courses_3

['History', 'Math', 'Physics,', 'CompSci', 'Arkology']

In [ ]:
courses_3

['History', 'Math', 'Physics,', 'CompSci', 'Arkology']

In [ ]:
courses_3.sort()
courses_3

['Arkology', 'CompSci', 'History', 'Math', 'Physics,']

In [ ]:
nums=[1,5,8,4,6,7,9,5,8,5]
#nums.sort()
#nums

In [ ]:
nums.sort(reverse=True)
nums

[9, 8, 8, 7, 6, 5, 5, 5, 4, 1]

In [ ]:
sorted(nums)

[1, 4, 5, 5, 5, 6, 7, 8, 8, 9]

In [ ]:
min(nums)

1

In [ ]:
max(nums)

9

In [ ]:
sum(nums)

58

In [ ]:
nums.index(9)

6

In [ ]:
7 in nums

True

In [ ]:
11 in nums

False

In [ ]:
courses_3

['Arkology', 'CompSci', 'History', 'Math', 'Physics,']

In [ ]:
for edu in courses_3:
  print(edu)

Arkology
CompSci
History
Math
Physics,

In [ ]:
for index,eds in enumerate(courses_3):
  print(index, eds)

0 Arkology
1 CompSci
2 History
3 Math
4 Physics,

In [ ]:
#for index,eds in enumerate(courses_3, start=1):
 # print(index, eds)

In [ ]:
courses_5=','.join(courses_3)
courses

'Arkology,CompSci,History,Math,Physics,'

In [ ]:
#courses_5

In [ ]:
courses_6=courses_5.split('-')

#Tuple

In [ ]:
af=['Arkology', 'CompSci', 'History', 'Math', 'Physics,']
asw=tuple(af)
asw

('Arkology', 'CompSci', 'History', 'Math', 'Physics,')

In [ ]:
asw[2]

'History'

#Set

In [ ]:
df=['History', 'Math', 'Physics,', 'CompSci', 'Arkology', 'Documentary','Arkology', 'CompSci', 'History', 'Math', 'Physics,']

In [ ]:
sf=set(df)

In [ ]:
sf

{'Arkology', 'CompSci', 'Documentary', 'History', 'Math', 'Physics,'}

In [ ]:
az=['Arkology', 'CompSci', 'History', 'Math', 'Physics,']
ax=['History', 'Math', 'Physics,', 'Art', 'Arkology', 'Documentary']

In [ ]:
len(ax), len(az)

(6, 5)

In [ ]:
'History'in az

True

In [ ]:
al=set(ax)
ag=set(az)

In [ ]:
al.intersection(ag)

{'Arkology', 'History', 'Math', 'Physics,'}

In [ ]:
al.difference(ag)

{'Art', 'Documentary'}

In [ ]:
al.union(ag)

{'Arkology', 'Art', 'CompSci', 'Documentary', 'History', 'Math', 'Physics,'}

In [ ]:
al | ag

{'Arkology', 'Art', 'CompSci', 'Documentary', 'History', 'Math', 'Physics,'}

In [ ]:
al & ag

{'Arkology', 'History', 'Math', 'Physics,'}

In [ ]:
al - ag

{'Art', 'Documentary'}

In [ ]:
ag - al

{'CompSci'}

In [ ]:
ag ^ al

{'Art', 'CompSci', 'Documentary'}

In [ ]:
al ^ ag

{'Art', 'CompSci', 'Documentary'}

#Dictionaries

In [ ]:
asd={'Name':'Ali','Sourname':'Ak','Age':25}

In [ ]:
asd['Name']

'Ali'

In [ ]:
asd.get('Age')

25

In [ ]:
asd.get('Phone', 'No info.')

'No info.'

In [ ]:
asd['Phone']=56466644

In [ ]:
asd

{'Name': 'Ali', 'Sourname': 'Ak', 'Age': 25, 'Phone': 56466644}

In [ ]:
asd['Name']='Hasan'

In [ ]:
asd

{'Name': 'Hasan', 'Sourname': 'Ak', 'Age': 25, 'Phone': 56466644}

In [ ]:
asd.update({'Age':36,'Phone':11111})

In [ ]:
asd

{'Name': 'Hasan', 'Sourname': 'Ak', 'Age': 36, 'Phone': 11111}

In [ ]:
del asd['Sourname']

In [ ]:
asd

{'Name': 'Hasan', 'Age': 36, 'Phone': 11111}

In [ ]:
phone=asd.pop('Phone')

In [ ]:
phone

11111

In [ ]:
len(asd)

2

In [ ]:
asd.keys()

dict_keys(['Name', 'Age'])

In [ ]:
asd.values()

dict_values(['Hasan', 36])

In [ ]:
asd.items()

dict_items([('Name', 'Hasan'), ('Age', 36)])

In [ ]:
for x in asd.keys():
  print(x)

Name
Age

In [ ]:
for x in asd.values():
  print(x)

Hasan
36

In [ ]:
for x in asd.items():
  print(x)

('Name', 'Hasan')
('Age', 36)

In [ ]:
for x,y in asd.items():
  print(y,x)

Hasan Name
36 Age

In [ ]:
for x,y in asd.items():
  print(x,y)

Name Hasan
Age 36

# List Compherension

In [70]:
das=[1,2,3,4,5,6,7,8,9]
my_list=[]
for n in das:
  my_list.append(n)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [71]:
das=[1,2,3,4,5,6,7,8,9]
my_list=[]
for n in das:
  if n%2!=0:
    my_list.append(n)
print(my_list)

[1, 3, 5, 7, 9]

In [82]:
my_list=[n for n in das if n%2!=0 and n%3==0 if n==3*3]
my_list

[9]

In [28]:
qw=[1,2,3,4,5]
er='abcde'
my_file=[]
for x in qw:
  for y in er:
    my_file.append((x,y))
print(my_file)

[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (1, 'e'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (2, 'e'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (3, 'e'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd'), (4, 'e'), (5, 'a'), (5, 'b'), (5, 'c'), (5, 'd'), (5, 'e')]

In [29]:
my_file=[(x,y) for x in qw for y in er if x%2==0]
print(my_file)

[(2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (2, 'e'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd'), (4, 'e')]

In [30]:
my_file=[(x,y) for x,y in zip(qw,er) if x%2==0]
print(my_file)

[(2, 'b'), (4, 'd')]

In [33]:
print(*zip(qw,er))

(1, 'a') (2, 'b') (3, 'c') (4, 'd') (5, 'e')

In [110]:
my_dor={}
for x,y in zip(qw, er):
  my_dor[x]=y
print(my_dor)

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [111]:
my_dor={x:y for x,y in zip(qw,er)}
print(my_dor)

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [ ]:
for i in my_dor.keys():
  for n in my_dor.values():
     gf=print((i,n))

In [135]:
nums=[1,1,1,2,2,2,5,5,5,4,5,5,6,6,5,7,7,7,8,8,9,9,9,6,6,5,5,4,4]
ad=set(nums)
ad

{1, 2, 4, 5, 6, 7, 8, 9}

In [136]:
dfg=set()
for i in nums:
  dfg.add(i)
print(dfg)

{1, 2, 4, 5, 6, 7, 8, 9}

In [138]:
dfg={i for i in nums}
print(dfg)

{1, 2, 4, 5, 6, 7, 8, 9}

# if- Else Statement

In [ ]:
yunus=int(input())
asi=input('Do I need to work here:' )
if yunus > 35 and asi=='Yes':
       print('You have to work min. by 80%.')
elif yunus > 35 and asi=='No':
       print('I wanna ask you there is how many option for me?')
elif yunus<35:
  if asi=='Yes':
    print('There is no rules like this.I dont need to work here.')
  else:
    print('You have severel options here.YOU CAN CHOOSE.')
elif yunus==35 :
  if asi=='No':
    print('You have to decide immediately about your career plan.')
  else:
      print('I will find another solution.')
else :
    print('You have to change your assitance with new one.')

In [ ]:
yunus=int(input())
asi=input('Do I need to work here:' ).title()
if yunus > 35 and asi=='Yes':
       print('You have to work min. by 80%.')
elif yunus > 35 and asi=='No':
       print('I wanna ask you there is how many option for me?')
elif yunus<35:
  if asi =='Yes':
    print('There is no rules like this.I dont need to work here.')
  else:
    print('You have severel options here.YOU CAN CHOOSE.')
elif yunus==35 :
  if asi=='No':
    print('You have to decide immediately about your career plan.')
  else:
      print('I will find another solution.')
else :
    print('You have to change your assitance with new one.')

45
Do I need to work here:no
I wanna ask you there is how many option for me?

In [ ]:
yunus=int(input())
asi=input('Do I need to work here:' ).title()
if yunus > 35 and asi=='Yes':
       print('You have to work min. by 80%.')
       my_answer=input().title()
       if my_answer=='No':
         print('We will reduce your money by 20%.')
elif yunus > 35 and asi=='No':
       print('I wanna ask you there is how many option for me?')
elif yunus<35:
  if asi =='Yes':
    print('There is no rules like this.I dont need to work here.')
  else:
    print('You have severel options here.YOU CAN CHOOSE.')
elif yunus==35 :
  if asi=='No':
    print('You have to decide immediately about your career plan.')
  else:
      print('I will find another solution.')
else :
    print('You have to change your assitance with new one.')

In [ ]:
city_1=['Adana','Samsun','Kayseri','Mula']
city_2=['Mu','Aydn','Bolu']
city=input().title()
tax_1=0.8
tax_2=0.3
price=int(input())
if city in city_1 and price>=10 :
  print(tax_1)
elif city in city_1 and price<10:
  print(tax_2)
elif city in city_2 and price>=10:
  print(tax_2)
else:
  print('No extra charge')

In [ ]:
audi=['Teen','Young','Adult','Retired','Veteran']
status=input().title()

if status=='Retired' or status=='Veteran': 
    print('Don\'t ask age.')
elif status=='Adult':
      age=int(input())
      if age >45:
        print('%60 discount')
      else :
        print('Normal Price')
elif  status=='Teen':
  print('%80 Discount')
elif status=='Young':
  print('%45 discount.')
else:
  print('Here is no place bro!!!')

gajs
Here is no place bro!!!

In [ ]:
audi=['Teen','Young','Adult','Retired','Veteran']
status=input().title()

if status=='Retired' or status=='Veteran': 
    print('Don\'t ask age.')
elif status=='Adult':
      age=int(input())
      if age >45:
        print('%60 discount')
      else :
        print('Normal Price')
elif  status=='Teen':
  print('%80 Discount')
elif status=='Young':
  age=int(input())
  if age<24:
    print('%45 discount.')
  else:
    print('%55 Discount')
else:
  print('Here is no place bro!!!')

young
25
%55 Discount

In [ ]:
audi=['Teen','Young','Adult','Retired','Veteran']
status=input().title()

if status in audi:
  if status=='Retired' or status=='Veteran': 
    print('Don\'t ask age.')
  elif status=='Adult':
      age=int(input())
      if age >45:
        print('%60 discount')
      else :
        print('Normal Price')
  elif  status=='Teen':
    print('%80 Discount')
  elif status=='Young':
    print('%45 discount.')
else:
  print('Here is no place bro!!!')

ali
Here is no place bro!!!

In [ ]:
audi=['Teen','Young','Adult','Retired','Veteran']

status=input().title()
if status in audi:
  if status=='Retired'or status=='Veteran':
    print('Noprice')
  elif status=='Teen'or status=='Young':
    print('%45 discount')
  elif status=='Adult':
    age=int(input('nput your age:'))
    discount=age/2
    print(f'Discount will be apply by half age rate.Your age is {age} and discount is %{discount}.')
else:
  print('There is no place for you bro.')

sfvf
There is no place for you bro.

#Conditionals And Booleans

In [ ]:
age=int(input())
if 21<=age<=63:
  good_age=True
else:
  good_age=False
if good_age:
  print('OOO SUPER')
else :
  print('Think again.')

In [ ]:
life='Good'
if life=='Good':
  print('Life is worth for live.')
else:
  print('That is not your choice.')

Life is worth for live.

# For Loop

In [ ]:
nums=list(range(1,6))
for num in nums:
  print(num)

1
2
3
4
5

In [ ]:
ax=list(range(1,6))
for num in nums:
  if num==3:
    print('Found it!!')
    break
  print(num)

1
2
Found it!!

In [ ]:
nums=list(range(1,6))
for num in nums:
  if num==3:
    print('Found it!!')
    continue
  print(num)

1
2
Found it!!
4
5

In [ ]:
from ast import Break
nums=list(range(1,11))
for num in nums:
  for life in ['Life is art.']:
    if num==3:
      print(num, life)
    break

3 Love is art.

In [ ]:
from ast import Break
nums=list(range(1,11))
for num in nums:
  for life in ['Life is art.']:
    print(num,life)
    if num%2==1:
      print('For anybody.') 
    else:
      print('Everybody deserves it.')

For you and me
Everybody deserve it.
For you and me
Everybody deserve it.
For you and me
Everybody deserve it.
For you and me
Everybody deserve it.
For you and me
Everybody deserve it.

In [ ]:
from ast import Break
nums=list(range(1,11))
for num in nums:
  for life in ['Life is art.']:
    print(num,life)
    if num%2==1:
      print('For anybody.') 
    else:
      print('Everybody deserves it.')

1 Love is art.
For you and me
2 Love is art.
Everybody deserve it.
3 Love is art.
For you and me
4 Love is art.
Everybody deserve it.
5 Love is art.
For you and me
6 Love is art.
Everybody deserve it.
7 Love is art.
For you and me
8 Love is art.
Everybody deserve it.
9 Love is art.
For you and me
10 Love is art.
Everybody deserve it.

In [ ]:
from ast import Break
nums=list(range(1,11))
for num in nums:
  for life in ['Life is art.']:
    if num%2==1:
      print('For anybody.') 
    else:
      print('Everybody deserves it.')

For you and me
Everybody deserve it.
For you and me
Everybody deserve it.
For you and me
Everybody deserve it.
For you and me
Everybody deserve it.
For you and me
Everybody deserve it.

In [ ]:
from ast import Break
nums=list(range(1,11))
for num in nums:
  for life in ['Life is art.']:
    if num==3:
      print('For anybody.') 
    else:
      print('Everybody deserves it.')

Everybody deserve it.
Everybody deserve it.
For you and me
Everybody deserve it.
Everybody deserve it.
Everybody deserve it.
Everybody deserve it.
Everybody deserve it.
Everybody deserve it.
Everybody deserve it.

In [54]:
awe=range(1,12)
ax=list(awe)
ax

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [59]:
for i in ax:
  if i==3:
    print('SVRE')
    continue
  elif i%2==0 and i!=8:
    print('KATAR')
    pass
  elif i==8:
    print('TRKYE')
    break
  print(i)

1
KATAR
2
SVRE
KATAR
4
5
KATAR
6
7
TRKYE

In [60]:
for i in ax:
  if i==3:
    print('SVRE')
    continue
  elif i%2==0 and i!=8:
    print('KATAR')
    pass
  elif i==8:
    print('TRKYE')
  elif i==11:
    del ax[3:6]
  else:
    print('Lost')
print(i)

Lost
KATAR
SVRE
KATAR
Lost
KATAR
Lost
TRKYE
Lost
KATAR
11

In [13]:
my_new_list=[]
letter='abc'
nums=range(1,4)
for l in letter:
  for n in nums:
    my_new_list.append((l,n))
print(my_new_list)

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3), ('c', 1), ('c', 2), ('c', 3)]

In [90]:
my_new_list_comp={l:n for l in letter for n in nums}
my_new_list_comp

{'a': 3, 'b': 3, 'c': 3}

In [91]:
my_new_list_comp=[(l,n) for l in ('a','b') for n in range(2)]
my_new_list_comp

[('a', 0), ('a', 1), ('b', 0), ('b', 1)]

In [92]:
my_new_list_lambda=list(map(lambda x:x ,[(l,n) for l in letter for n in nums]))
my_new_list_lambda

[('a', 1),
 ('a', 2),
 ('a', 3),
 ('b', 1),
 ('b', 2),
 ('b', 3),
 ('c', 1),
 ('c', 2),
 ('c', 3)]

In [21]:
my_new_list_lambda=list(map(lambda x:x ,[(l,n) for l in letter if l!='b' for n in nums]))
my_new_list_lambda#BURADA LST YERNE SET YADA TUPLE DA KULLANILABLR.

[('a', 1), ('a', 2), ('a', 3), ('c', 1), ('c', 2), ('c', 3)]

In [23]:
my_new_list_lambda=list(map(lambda x:x ,{(l,n) for l in letter if l!='b' for n in nums}))
my_new_list_lambda#BURADA LGN BR EKLDE KNC LSTEY TERSTEN OKUDU.

[('c', 3), ('a', 3), ('c', 2), ('a', 2), ('c', 1), ('a', 1)]

In [24]:
my_new_list_lambda=dict(map(lambda x:x ,{l:n for l in letter for n in nums}))
my_new_list_lambda

ValueError: ignored

In [1]:
ders1 =[1,9,5,6]
ders =[5,6,8,10]

def kucuk (x,y):
  if x<y :
    return y
  return x
fonki =zip(ders,ders1)
w= map(lambda x : x,[kucuk(a,b) for a,b in zip(ders1,ders)])
print(list(w))

[5, 9, 8, 10]

In [19]:
ders1 ={1,9,5,6}
ders =(5,6,8,10)

def kucuk (x,y):
  if x<y :
    return y
  return x
#fonki =zip(ders,ders1)
w=list((a,b) for a,b in zip(ders1,ders))
print(w)

[(1, 5), (5, 6), (9, 8), (6, 10)]

In [15]:
yum=[]
kum=[]
zum=[('a',2),('b',3),('c',4)]
for x in zum:
  for c in x:
    if type(c)==str:
      yum.append (c)
    else:
      kum.append(c)
print(dict(zip(yum,kum)))

{'a': 2, 'b': 3, 'c': 4}

# While Loop

In [1]:
asd=[1,5,4,8,6,7,4,5,3,5,4,5,6,2,3,6,54,4,7,8,5,4,5,2,1]
x=1
while x<len(asd):
  print(set(asd))
  if x==3:
   break
  x+=1

{1, 2, 3, 4, 5, 6, 7, 8, 54}
{1, 2, 3, 4, 5, 6, 7, 8, 54}
{1, 2, 3, 4, 5, 6, 7, 8, 54}

In [10]:
asd=[1,5,4,8,6,7,4,5,3,5,4,5]
x=0
while x<len(asd):
  print(set(asd))
  if x==3:
   pass
  x+=1

{1, 3, 4, 5, 6, 7, 8}
{1, 3, 4, 5, 6, 7, 8}
{1, 3, 4, 5, 6, 7, 8}
{1, 3, 4, 5, 6, 7, 8}
{1, 3, 4, 5, 6, 7, 8}
{1, 3, 4, 5, 6, 7, 8}
{1, 3, 4, 5, 6, 7, 8}
{1, 3, 4, 5, 6, 7, 8}
{1, 3, 4, 5, 6, 7, 8}
{1, 3, 4, 5, 6, 7, 8}
{1, 3, 4, 5, 6, 7, 8}
{1, 3, 4, 5, 6, 7, 8}

In [17]:
asd=[1,5,4,8,6,7,4,5,3,5,4,5]
x=0
while x<len(asd):
  print(set(asd))
  if x==3:
   pass
  elif x==5:
    break
  x+=1

{1, 3, 4, 5, 6, 7, 8}
{1, 3, 4, 5, 6, 7, 8}
{1, 3, 4, 5, 6, 7, 8}
{1, 3, 4, 5, 6, 7, 8}
{1, 3, 4, 5, 6, 7, 8}
{1, 3, 4, 5, 6, 7, 8}

In [23]:
asd=[1,3,5,4,8,6,7,4,5,3,5,4,5]
for x in asd:
  print(set(asd))
  if x==3:
   print('None')
   pass
  elif x==5:
    break

{1, 3, 4, 5, 6, 7, 8}
{1, 3, 4, 5, 6, 7, 8}
None
{1, 3, 4, 5, 6, 7, 8}

In [47]:
asd=[1,2,8,3,6,'5',4,8,6,7,4,5,3,5,4,5]
for y in asd:
  if y==6:
   print('None')
   pass
  elif y==7:
   break
  print(y)

1
2
8
3
None
6
5
4
8
None
6

In [51]:
asx=range(1,8)
for y in asx:
  if y==6:
   print('None')
   pass
  elif y==7:
   break
  print(y)

1
2
3
4
5
None
6

# Def Func

In [2]:
def hello_func():
  print('Hello Function!')
hello_func()

Hello Function!

In [6]:
def agp(x):
  result=x//2
  print(f'Your current money balance is ${result}.')

agp(int(input()))

400
Your current money balance is $200.

In [24]:
from datetime import datetime

def time():
   print(datetime.now())

  

time()

2022-12-27 14:54:43.254262

In [ ]:
def sdf(a:3,b:4):
  print(a,"is first.",b ,"is sceond.")

cdf={'b': 2,'a': 5,'a':8,'b':7}
sdf(**cdf)

In [ ]:
def wer(*keke):
  print('All arguments make me confusing.like')
  for i in keke:
    print('*', i*4)
wer(4,5,6,4,7)

In [ ]:
def gh(**cdf):
  for key,value in cdf.items():
    print(value,'=',key)

gh(a=2,b=5,c=8,d=7,k=8)

In [ ]:
def bex(*mango):
  print('All arguments make me confusing.like this;')
  for i in mango:
    if type(i)==str:
       
      print('*', i*4)
    
bex(4,5,6,4,7,'h','y',5,8)

In [ ]:
def bex(*mango):
  print('All arguments make me confusing.like this;')
  for i in mango:
    if type(i)==str:
      pass
       
    print('*', i*4)
    
bex(4,5,6,4,7,'h','y',5,8)

In [ ]:
asd=[0,31,28,31,30,'31','d',31,31,30,31,30,31]
def animals(*x):
    for  y in x:
      if type(y)==str:
          continue
      print(y)
 
animals(*asd)

In [ ]:
mango=[0,31,28,31,30,'31','d',31,31,30,31,30,31]
def bex(*x):
  print('All arguments make me confusing.like this;')
  for i in x:
    if type(i)==str:
      continue
       
    print('*', i*4)
    
bex(*mango)

In [ ]:
sdf=['a','b','c','d']
def allocate(x):
  for i in sdf:
   print(f'{i} is a letter.')

allocate(i)

In [ ]:
products=range(1,11)
def fish(x):
  for i,ii in zip(products,['a','b','c','d','a','b','c','d','a','b']):
    print(i,'=',ii)


fish(products)

In [ ]:
def cool(*any,**all):
    print(any)
    print(all)

cool('a','b','c','d',af = 'a',sd = 'b',er = 'c',fg = 'd')

In [2]:
asc=['ali','veli','rza']
sdc={'name':'ali','age':34}
def plane(*args,**kwargs):
  print(args)
  print(kwargs)
plane(asc,sdc)
plane(*asc,**sdc)

(['ali', 'veli', 'rza'], {'name': 'ali', 'age': 34})
{}
('ali', 'veli', 'rza')
{'name': 'ali', 'age': 34}

In [11]:
month_days=[0,31,28,31,30,31,30,31,31,30,31,30,31]
def leap_year(year):
  return year % 4==0 and (year % 100!=0 or year % 400==0)
def month(year, month):
  if not 1<=month<=12:
    print('Invalid value.')
  elif month==2 and leap_year(year):
    print(29)
  else:
    return month_days[month]
leap_year(2012)
month(2011,10)

31

In [20]:
max(['a','C','c','d','a','Z','c','d','z','V'])

'z'

# Lambda

In [1]:
race=list(range(1,12))
race

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [7]:
even_number=[]
odd_number=[]
for i in race:
  if i%2==0:
   even_number.append(i)
   
  else:
    odd_number.append(i)
    

print(even_number)

print(odd_number)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9, 11]

In [ ]:
even_number=[n for n in race if n%2==0]

even_number

In [31]:
odd_number=list(filter(lambda x: x%2!=0 and x!=3, race))
odd_number

[1, 5, 7, 9, 11]

In [ ]:
randomly=list(map(lambda x : x**2,race))
randomly

In [ ]:
even_number

In [ ]:
odd_number

In [42]:
my_new_dict={(x,y) for x,y in zip(even_number,odd_number)}
my_new_dict

{(2, 1), (4, 5), (6, 7), (8, 9), (10, 11)}

In [44]:
my_new_dict={x:y for x,y in zip(even_number,odd_number)}
my_new_dict

{2: 1, 4: 5, 6: 7, 8: 9, 10: 11}

In [40]:
print(*zip(even_number,odd_number))

(2, 1) (4, 5) (6, 7) (8, 9) (10, 11)

In [51]:
flavors = {'c', 's', 'v'}
flavor_names = ('chocolate', 'strawberry', 'vanilla' )
flavor_codes = {a:b for a, b in zip(flavors, flavor_names)}
print(flavor_codes) 
flipped = {d:c for c, d in flavor_codes.items()}
print(flipped)

{'v': 'chocolate', 'c': 'strawberry', 's': 'vanilla'}
{'chocolate': 'v', 'strawberry': 'c', 'vanilla': 's'}

In [46]:
my_dict_list=dict(zip(even_number,odd_number))
my_dict_list

{2: 1, 4: 5, 6: 7, 8: 9, 10: 11}

In [50]:
my_flower_list=dict(zip(flavors,flavor_names))
my_flower_list

{'c': 'chocolate', 's': 'strawberry', 'v': 'vanilla'}

In [55]:
list1= [[1,2,3],(4,5,6),{7,8,9}]
list2=[]
aa =0
#for i in list1:
list2.extend(list(map(lambda x : x,[a for i in list1 for a in i])))
print(list2)

[1, 2, 3, 4, 5, 6, 8, 9, 7]

In [68]:
yum=[]
kum=[]
zum=[('a',2),('b',3),('c',4)]
for x in zum:
  for c in x:
    if type(c)==str:
      yum.append (c)
    else:
      kum.append(c)
print(dict(zip(yum,kum)))

{'a': 2, 'b': 3, 'c': 4}

# SPECIAL EXAMPLE

In [24]:
string = 'Helloworld'
dict = {'H':1,'l':3,'o':10,'e':5,'w':7}
list = [dict.get(i) for i in string]
list

[1, 5, 3, 3, 10, 7, 10, None, 3, None]

In [ ]:
asd=['a','b','c']
 
for x,y in enumerate(asd, start=1):
  print(x, y)

In [17]:
my_files=[[i for i in range(0,10)] for _ in range(0,3)]
my_files

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

# New Section